// Global Components
body {
  overflow-x: hidden;
  @include body-font;
}

.text-muted {
	color: $gray;
}

.text-primary {
	color: $brand-primary;
}

p.large {
	font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
	outline: none;
}

a {
	color: $brand-primary;
}

a:hover,
a:focus,
a:active,
a.active {
	color: darken($brand-primary, 10%);
}

h1, h2, h3, h4, h5, h6 {
	@include heading-font;
	font-weight: 700;
}

.img-centered {
	margin: 0 auto;
}

.bg-light-gray {
	background-color: $gray-lighter;
}

.bg-darkest-gray {
	background-color: $gray-darkest;
}

.btn-primary {
	@include button-variant(white, $brand-primary, $brand-primary);
	@include heading-font;
	font-weight: 700;
}

.btn-xl {
	@include button-variant(white, $brand-primary, $brand-primary);
	@include heading-font;
	font-weight: 700;
	border-radius: 3px;
	font-size: 18px;
	padding: 20px 40px;
}

.btn-youtube {
  @include button-variant(white, $brand-primary, $brand-primary);
	@include heading-font;
  font-weight: 700;
  border-radius: 25%;
  font-size: 40px;
  padding: 5px 30px;
  color: $brand-primary;
  background-color: transparent;
  border-color: transparent;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  transition: all 0.7s;
  opacity: 0.7;
  outline: none;
  border:none;

  &:hover,
  &:focus,
  &:active {
    background-color: transparent;
    color: $brand-primary;
    border: none;
    font-size: 70px;
    padding: 0;
  }
}

// Global Section Styles

section {
    padding: 100px 0;
    h2.section-heading {
		font-size: 40px;
		margin-top: 0;
		margin-bottom: 15px;
    color: $gray-darkest;
    }
    h3.section-subheading {
		font-size: 16px;
		@include serif-font;
		text-transform: none;
		font-style: italic;
		font-weight: 400;
		margin-bottom: 75px;
    }
}

@media(min-width:$min-width) {
	section {
		padding: 150px 0;
	}
}

aside {
  padding: 100px 0;
  text-align: center;

  h2.aside-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
  color: $gray-darkest;
  }
}

@media(min-width:$min-width) {
	aside {
		padding: 150px 0;
	}
}
