.bg-philosophies {
  background-image: url(/img/rink_grey_blur.jpg);
  background-repeat: none;
  background-attachment: scroll;
  background-position: center center;
  @include background-cover;
  text-align: center;

  h3 {
    color: $notre-dame-gold;
    margin:0px auto;
  }
  h2 {
    color: $gray-lighter;
  }

  h5 {
    color: $notre-dame-gold;
    text-align: right;
  }

}
