<!-- Portfolio Modals -->
    <!-- Use the modals below to showcase details about your portfolio projects! -->

    <!-- Portfolio Modal 1 -->
  {% for event in site.data.events.evenements %}
    <div class="event-modal modal fade" id="{{ event.modal-link }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>{{ event.title }}</h2>
                            <p class="item-intro text-muted">{{ event.subtitle }}</p>
                            <img class="img-responsive" src="{{ event.modal-image }}" alt="">
                            <p>{{ event.description }}</p>
                            <ul class="list-inline">
                                <li>Date: {{ event.date }}</li>
                                <li>Lieu: {{ event.location }}</li>
                            </ul>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Retour</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
