<footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">&copy; {{ site.time | date:"%Y" }} Relève Blizzard Hockey</span>
                </div>
                <div class="col-md-4">

                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="https://www.youtube.com/user/wizardJAY78" target="_blank"><i class="fa fa-youtube"></i></a>
                        </li>
                    </ul>
                    <br>
                    <p class="copyright">releveblizzardmidgetaaa@hotmail.com</p>

                </div>
                <div class="col-md-4">
                    <span class="copyright">Site Créé par <a href="https://github.com/alexdaube" target="_">@AlexDAubé</a></p>
                </div>
            </div>
        </div>
    </footer>
