<!-- temporaire <div id="showcase" class="video-link bg-light-gray">
  <div class="container">
    <div class="row">
      <a href="https://www.wizardhockey.com" target="_blank">
        <img src="img/svg/wizard_channel.svg" class="img-responsive img-centered" alt="">
      </a>
      <h3 class="video-heading">Visionnez sur</h3>
      <a href="https://www.youtube.com/user/wizardJAY78" class="btn btn-youtube intro-button change-icon" target="_blank">
        <i class="fa fa-youtube"></i>
        <i class="fa fa-play-circle-o"></i>
      </a>
    </div>
  </div>
</div>-->

<div  id="video" class="bg-video">

      <div id="video-wrap" class="video-wrap">
        <video preload="metadata" autoplay loop id="my-video" muted>
          <source src="videos/movie.mp4" type="video/mp4">
          <source src="videos/movie.webm" type="video/webm">
        </video>
        <div class="content-overlay video-link">
          <a href="http://wizardhockey.com/" target="_blank">
            <img src="img/svg/wizard_channel.svg" class="img-responsive img-centered" alt="">
          </a>
          <h3 class="video-heading">Visionnez sur</h3>
          <a href="https://www.youtube.com/user/wizardJAY78" class="btn btn-youtube intro-button change-icon" target="_blank">
            <i class="fa fa-youtube"></i>
            <i class="fa fa-play-circle-o"></i>
          </a>
        </div>
      </div>
</div>
