<aside id="showcase" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <h3 class="aside-heading">Visionnez le magicien sur glace sur YouTube.</h3>
      <a href="https://www.youtube.com/user/wizardJAY78" class="btn btn-xl intro-button" target="_blank">
        <i class="fa fa-youtube"></i>
      </a>
    </div>
  </div>
</aside>

<div  id="video" class="bg-video">

      <div id="video-wrap" class="video-wrap">
        <video preload="metadata" autoplay loop id="my-video" muted>
          <source src="videos/movie.mp4" type="video/mp4">
          <source src="videos/movie.webm" type="video/webm">
        </video>
        <div class="content-overlay">
          <h1>Wizard Training</h1>
          <p>The ultimate experience!</p>
        </div>
      </div>

</div>
